<h3>Listado de proveedores</h3>
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir nuevo proveedor</a>
<div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
  <img src="../../../assets/spinner.gif" alt="Cargando">
</div>
<div *ngIf="!cargando">
  <table class="table table-bordered table-striped" style="margin-top: 40px">
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Correo</th>
      <th>Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores"> 
      <td>{{ proveedor.nombre }}</td>
      <td><a href="mailto: {{ proveedor.email }}">{{ proveedor.email }}</a> </td>
      <td>{{ proveedor.telefono }} </td>
    </tr>
  </tbody>
  </table>
</div>